@model WebAPI.Models.PlanFormViewModel

@{
    ViewBag.Title = "Create A Plan";
    var todayDate = DateTime.Now.ToString("yyyy-MM-dd");
}

<h2 class="text-center display-6">
    <strong>@ViewBag.Title</strong>
</h2>

<div class="pt-5">
    @using (Html.BeginForm("Index", "Plan",
        null, FormMethod.Post, true, new {id = "create-plan-form"}))
    {
        <div class="form-group form-inline">
            <input type="text" class="w-100 form-control form-control-lg" id="main-1"
                   name="@Html.DisplayNameFor(m => m.Title)" placeholder="A title for your plan">
        </div>

        <div class="form-group form-inline ">
            <textarea class="w-100 form-control form-control-lg" id="main-2" name="@Html.DisplayNameFor(m => m.Description)" placeholder="What is your plan about"></textarea>
        </div>

        <div class="form-group form-inline ">
            <label class="form-label">
                On which day does the plan start?
            </label>
            <input type="date" class="form-control plan-startdate w-auto ml-4" name="@Html.DisplayNameFor(m => m.StartDate)" value="@todayDate"/>
        </div>

        <div id="dynamic-chores-list">
            <button class="form-control btn chore-form-btn btn-add-chore w-auto bg-light"><i class="fas fa-plus mr-3"></i>add chore</button>
        </div>

        <div class="col text-center">
            <input type="submit" id="main-submit" class="w-25 form-control btn btn-primary btn-lg" value="Create">
        </div>
    }
</div>

@* Render all needed Templates for Dynamic-Forms *@
@* ====================================== *@
<partial name="_ChoreTemplates"/>

@section Scripts{
    <script src="~/js/planForm.js" asp-append-version="true"></script>
}