@model WebAPI.Models.PlanViewModel

@{
    ViewBag.Title = @Model.Title;
}

<div class="d-inline-flex justify-content-center w-100">
    <div class="container justify-content-center w-100">
        <h2 class="text-center">@Model.Title</h2>
        <p class="text-center">@Model.Description</p>        
    </div>
</div>

<div class="container mt-5">
    <h4>Assignments at @DateTime.Today.ToString("yyyy-MM-dd")</h4>
    <table class="table table-hover table-sm mt-4">
        <thead class="thead-light">
        <tr>
            <th>Chore</th>
            <th>Assignee</th>
            <th>Duration</th>
            <th>Next Assignee</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var chore in Model.Chores)
        {
            <tr>
                <td>@chore.Title</td>
                <td>@chore.CurrentAssignee</td>
                <td>@chore.Start.ToString("yyyy-MM-dd") - @chore.End.ToString("yyyy-MM-dd")</td>
                <td>@chore.NextAssignee</td>
            </tr>
        }
        </tbody>
    </table>
</div>